.penBtn {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #000;
  transition: transform 0.2s, color 0.2s;
  margin-left: 5px;
}

.penBtn:hover {
  color: #16a34a;        /* цвет при наведении */
  transform: scale(1.1); /* лёгкое увеличение */
}